{% extends "base.html" %}

{% block content %}
<h1 class="title">ASCII</h1>

<div class="columns">
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>0</th>
          <td class="has-background-info">NUL</td>
        </tr>
        <tr>
          <th>1</th>
          <td class="has-background-info">SOH</td>
        </tr>
        <tr>
          <th>2</th>
          <td class="has-background-info">STX</td>
        </tr>
        <tr>
          <th>3</th>
          <td class="has-background-info">ETX</td>
        </tr>
        <tr>
          <th>4</th>
          <td class="has-background-info">EOT</td>
        </tr>
        <tr>
          <th>5</th>
          <td class="has-background-info">ENQ</td>
        </tr>
        <tr>
          <th>6</th>
          <td class="has-background-info">ACK</td>
        </tr>
        <tr>
          <th>7</th>
          <td class="has-background-info">BEL</td>
        </tr>
        <tr>
          <th>8</th>
          <td class="has-background-info">BS</td>
        </tr>
        <tr>
          <th>9</th>
          <td class="has-background-info">HT</td>
        </tr>
        <tr>
          <th>10</th>
          <td class="has-background-info">LF</td>
        </tr>
        <tr>
          <th>11</th>
          <td class="has-background-info">VT</td>
        </tr>
        <tr>
          <th>12</th>
          <td class="has-background-info">FF</td>
        </tr>
        <tr>
          <th>13</th>
          <td class="has-background-info">CR</td>
        </tr>
        <tr>
          <th>14</th>
          <td class="has-background-info">SO</td>
        </tr>
        <tr>
          <th>15</th>
          <td class="has-background-info">SI</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>16</th>
          <td class="has-background-info">DLE</td>
        </tr>
        <tr>
          <th>17</th>
          <td class="has-background-info">DC1</td>
        </tr>
        <tr>
          <th>18</th>
          <td class="has-background-info">DC2</td>
        </tr>
        <tr>
          <th>19</th>
          <td class="has-background-info">DC3</td>
        </tr>
        <tr>
          <th>20</th>
          <td class="has-background-info">DC4</td>
        </tr>
        <tr>
          <th>21</th>
          <td class="has-background-info">NAK</td>
        </tr>
        <tr>
          <th>22</th>
          <td class="has-background-info">SYN</td>
        </tr>
        <tr>
          <th>23</th>
          <td class="has-background-info">ETB</td>
        </tr>
        <tr>
          <th>24</th>
          <td class="has-background-info">CAN</td>
        </tr>
        <tr>
          <th>25</th>
          <td class="has-background-info">EM</td>
        </tr>
        <tr>
          <th>26</th>
          <td class="has-background-info">SUB</td>
        </tr>
        <tr>
          <th>27</th>
          <td class="has-background-info">ESC</td>
        </tr>
        <tr>
          <th>28</th>
          <td class="has-background-info">FS</td>
        </tr>
        <tr>
          <th>29</th>
          <td class="has-background-info">GS</td>
        </tr>
        <tr>
          <th>30</th>
          <td class="has-background-info">RS</td>
        </tr>
        <tr>
          <th>31</th>
          <td class="has-background-info">US</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>32</th>
          <td class="has-background-warning">SP</td>
        </tr>
        <tr>
          <th>33</th>
          <td>!</td>
        </tr>
        <tr>
          <th>34</th>
          <td>"</td>
        </tr>
        <tr>
          <th>35</th>
          <td>#</td>
        </tr>
        <tr>
          <th>36</th>
          <td>$</td>
        </tr>
        <tr>
          <th>37</th>
          <td>%</td>
        </tr>
        <tr>
          <th>38</th>
          <td>&#38;</td>
        </tr>
        <tr>
          <th>39</th>
          <td>'</td>
        </tr>
        <tr>
          <th>40</th>
          <td>(</td>
        </tr>
        <tr>
          <th>41</th>
          <td>)</td>
        </tr>
        <tr>
          <th>42</th>
          <td>*</td>
        </tr>
        <tr>
          <th>43</th>
          <td>+</td>
        </tr>
        <tr>
          <th>44</th>
          <td>,</td>
        </tr>
        <tr>
          <th>45</th>
          <td>-</td>
        </tr>
        <tr>
          <th>46</th>
          <td>.</td>
        </tr>
        <tr>
          <th>47</th>
          <td>/</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>48</th>
          <td>0</td>
        </tr>
        <tr>
          <th>49</th>
          <td>1</td>
        </tr>
        <tr>
          <th>50</th>
          <td>2</td>
        </tr>
        <tr>
          <th>51</th>
          <td>3</td>
        </tr>
        <tr>
          <th>52</th>
          <td>4</td>
        </tr>
        <tr>
          <th>53</th>
          <td>5</td>
        </tr>
        <tr>
          <th>54</th>
          <td>6</td>
        </tr>
        <tr>
          <th>55</th>
          <td>7</td>
        </tr>
        <tr>
          <th>56</th>
          <td>8</td>
        </tr>
        <tr>
          <th>57</th>
          <td>9</td>
        </tr>
        <tr>
          <th>58</th>
          <td>:</td>
        </tr>
        <tr>
          <th>59</th>
          <td>;</td>
        </tr>
        <tr>
          <th>60</th>
          <td>&#60;</td>
        </tr>
        <tr>
          <th>61</th>
          <td>=</td>
        </tr>
        <tr>
          <th>62</th>
          <td>&#62;</td>
        </tr>
        <tr>
          <th>63</th>
          <td>?</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>64</th>
          <td>@</td>
        </tr>
        <tr>
          <th>65</th>
          <td>A</td>
        </tr>
        <tr>
          <th>66</th>
          <td>B</td>
        </tr>
        <tr>
          <th>67</th>
          <td>C</td>
        </tr>
        <tr>
          <th>68</th>
          <td>D</td>
        </tr>
        <tr>
          <th>69</th>
          <td>E</td>
        </tr>
        <tr>
          <th>70</th>
          <td>F</td>
        </tr>
        <tr>
          <th>71</th>
          <td>G</td>
        </tr>
        <tr>
          <th>72</th>
          <td>H</td>
        </tr>
        <tr>
          <th>73</th>
          <td>I</td>
        </tr>
        <tr>
          <th>74</th>
          <td>J</td>
        </tr>
        <tr>
          <th>75</th>
          <td>K</td>
        </tr>
        <tr>
          <th>76</th>
          <td>L</td>
        </tr>
        <tr>
          <th>77</th>
          <td>M</td>
        </tr>
        <tr>
          <th>78</th>
          <td>N</td>
        </tr>
        <tr>
          <th>79</th>
          <td>O</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>80</th>
          <td>P</td>
        </tr>
        <tr>
          <th>81</th>
          <td>Q</td>
        </tr>
        <tr>
          <th>82</th>
          <td>R</td>
        </tr>
        <tr>
          <th>83</th>
          <td>S</td>
        </tr>
        <tr>
          <th>84</th>
          <td>T</td>
        </tr>
        <tr>
          <th>85</th>
          <td>U</td>
        </tr>
        <tr>
          <th>86</th>
          <td>V</td>
        </tr>
        <tr>
          <th>87</th>
          <td>W</td>
        </tr>
        <tr>
          <th>88</th>
          <td>X</td>
        </tr>
        <tr>
          <th>89</th>
          <td>Y</td>
        </tr>
        <tr>
          <th>90</th>
          <td>Z</td>
        </tr>
        <tr>
          <th>91</th>
          <td>[</td>
        </tr>
        <tr>
          <th>92</th>
          <td>\</td>
        </tr>
        <tr>
          <th>93</th>
          <td>]</td>
        </tr>
        <tr>
          <th>94</th>
          <td>^</td>
        </tr>
        <tr>
          <th>95</th>
          <td>_</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>96</th>
          <td>`</td>
        </tr>
        <tr>
          <th>97</th>
          <td>a</td>
        </tr>
        <tr>
          <th>98</th>
          <td>b</td>
        </tr>
        <tr>
          <th>99</th>
          <td>c</td>
        </tr>
        <tr>
          <th>100</th>
          <td>d</td>
        </tr>
        <tr>
          <th>101</th>
          <td>e</td>
        </tr>
        <tr>
          <th>102</th>
          <td>f</td>
        </tr>
        <tr>
          <th>103</th>
          <td>g</td>
        </tr>
        <tr>
          <th>104</th>
          <td>h</td>
        </tr>
        <tr>
          <th>105</th>
          <td>i</td>
        </tr>
        <tr>
          <th>106</th>
          <td>j</td>
        </tr>
        <tr>
          <th>107</th>
          <td>k</td>
        </tr>
        <tr>
          <th>108</th>
          <td>l</td>
        </tr>
        <tr>
          <th>109</th>
          <td>m</td>
        </tr>
        <tr>
          <th>110</th>
          <td>n</td>
        </tr>
        <tr>
          <th>111</th>
          <td>o</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="column">
    <table class="table is-hoverable is-narrow">
      <tbody>
        <tr>
          <th>112</th>
          <td>p</td>
        </tr>
        <tr>
          <th>113</th>
          <td>q</td>
        </tr>
        <tr>
          <th>114</th>
          <td>r</td>
        </tr>
        <tr>
          <th>115</th>
          <td>s</td>
        </tr>
        <tr>
          <th>116</th>
          <td>t</td>
        </tr>
        <tr>
          <th>117</th>
          <td>u</td>
        </tr>
        <tr>
          <th>118</th>
          <td>v</td>
        </tr>
        <tr>
          <th>119</th>
          <td>w</td>
        </tr>
        <tr>
          <th>120</th>
          <td>x</td>
        </tr>
        <tr>
          <th>121</th>
          <td>y</td>
        </tr>
        <tr>
          <th>122</th>
          <td>z</td>
        </tr>
        <tr>
          <th>123</th>
          <td>{</td>
        </tr>
        <tr>
          <th>124</th>
          <td>|</td>
        </tr>
        <tr>
          <th>125</th>
          <td>}</td>
        </tr>
        <tr>
          <th>126</th>
          <td>~</td>
        </tr>
        <tr>
          <th>127</th>
          <td class="has-background-warning">DEL</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
