{% extends "base.html" %}

{% block content %}
<section class="hero is-warning">
  <div class="hero-body">
    <h1 class="title">Not Found</h1>
    <p class="subtitle"><strong>{{ request_path }}</strong> was not found on this server.</p>
  </div>
</section>
{% endblock %}
