{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Warmth Labs</title>
    <link rel="icon" type="image/svg+xml" href="{% static "logo.svg" %}" sizes="any">
    <link rel="stylesheet" href="{% static "bulma.css" %}">
  </head>
  <body>
    <nav class="navbar is-dark" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static "logo.svg" %}" alt="Warmth Labs" width="24" height="24">
        </a>
      </div>
      <div class="navbar-menu">
	<div class="navbar-start">
          <a class="navbar-item" href="{% url 'ascii' %}">ASCII</a>
	</div>
      </div>
    </nav>

    <section class="section">
      <div class="container">
        {% block content %}{% endblock %}
      </div>
    </section>
  </body>
</html>
